@import 'tailwindcss';

@theme {
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --color-goldenYellow: #ebc81e;
    --color-cream: #e4dbc7;
    --color-hazelnutBrown: #7e5920;
}
